.card {
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: ""; 
    position: absolute;
    top: 10px;
    right: -5px;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url('/images/bestStuff/heart.svg') center no-repeat rgb(255, 255, 255);
  }
  
}


.card__image {
  width: 100%;
  
}

.card__title {
  color: rgb(52, 52, 52);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 15px;
}

.card__subtitle {
  color: rgb(98, 98, 98);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 20px;
}

.card__colors {
  color: rgb(98, 98, 98);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 10px;
}

.card__price {
  color: rgb(74, 170, 78);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 17px;
}
